---
# file: main.yml

- name: Run dnf makecache
  command: /usr/bin/dnf makecache

- name: Install common packages
  dnf: pkg={{ item }} state=installed
  with_items:
    - bash-completion
    - haveged
    - libsemanage-python
    - mosh
    - policycoreutils
    - policycoreutils-python
    - vim-enhanced
    - yum-cron
    - yum-cron-security
    - yum-plugin-fastestmirror
  tags:
    - packages

- name: make sure firewalld is started
  service: name=firewalld enabled=yes state=started
  tags:
    - service

- name: enable and start haveged
  service: name=haveged enabled=yes state=started
  tags:
    - service

- name: open firewall ports for mosh
  firewalld: port=60000-61000/udp permanent=true state=enabled
  tags:
    - firewall
  notify:
    - restart firewall

- name: disallow password login into ssh
  lineinfile: dest=/etc/ssh/sshd_config regexp="^PasswordAuthentication"
              line="PasswordAuthentication no" state=present
  notify:
    - restart sshd

- name: send root's email to felix@fetzig.org
  lineinfile: "dest=/etc/aliases regexp='^root:' line='root:		felix@fetzig.org' state=present"
